.container {
  display: flex;
  justify-content:center;
  align-items: center;

  min-height: 100vh; /* ocupa a tela inteira */
  min-width: 100%;

  background-color: #F4EBDD;
  background-image: url("./images/inicioImagem.png");
  background-repeat: repeat;
  background-size: cover;
}

.hero-text {
  text-align: right;
  padding-left: 30%;
  padding-top: 9%;
}

/* título */
.title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #B35A26;
  font-size: 64px;
  position: relative;
}

/* linha 
.title::after {
  content: "";
  display: block;
  width: 200px;
  margin: 12px 0 0 auto;
  border-bottom: 3px dashed #B35A26;
}
*/
/* texto abaixo da linha */
.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #9C6A4A;
  letter-spacing: 0.05em;
}

.corpo{
  background-color: #F4EBDD;
  background-image: url("/img/paper-texture.png");
  background-repeat: repeat;
  padding-top: 100px;
   margin: 0 auto; /* CENTRALIZA */
}

.imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;

  margin: 0 auto; /* CENTRALIZA */
}

.initial{
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.intro{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 30px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
  padding-bottom: 30px;
}

.skill-image {
  width: 320px;
  height: 180px;
  object-fit: cover;
}


.skills-title{
    color: #B35A26;
    font-weight: bold;
}

.skills-text {
  max-width: 400px;
}

.linha-subtitle{
  border: none;
  border-top: 2px solid #9C6A4A; /* mesma cor do subtitle */
  width: 120px;                 /* tamanho da linha */
  margin: 20px auto 40px auto;  /* espaço acima e abaixo */
  opacity: 0.6;  
}

.footer{
  background-color: #9C6A4A;
}

footer.footer {
  color: #F4EBDD; 
}

footer.footer a.nav-link {
  color: #F4EBDD;
}

footer.footer a.nav-link:hover {
  color: #b99c6f; 
}
